
    <div class="sticky-column">
        <div class="avatar-wrap">
            <svg class="avatar avatar--180" viewBox="0 0 188 188">
                <g class="avatar__box">
                    <image xlink:href="assets/img/me.png" height="100%" width="100%" />
                </g>
            </svg>
        </div>
        <div class="text-center">
            <h3 class="title sidebar__user-name"><span class="weight--500">Riadh</span> Karchoud</h3>
            <div class="badge badge--gray">Software Engineer</div>
                
             <!-- Social -->
             <div class="social">
                <a class="social__link" href="https://www.facebook.com/riadh.karchoud.779/"><i class="font-icon icon-facebook"></i></a>
                <a class="social__link" href="https://www.behance.com/"><i class="font-icon icon-twitter"></i></a>
                <a class="social__link" href="https://www.linkedin.com/in/riadh-karchoud-6953a483/"><i class="font-icon icon-linkedin2"></i></a>
            </div>
        </div>

        <ul class="contact-block">
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Birthday">
                <i class="font-icon icon-calendar2"></i>September 7, 1990
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Address">
                <i class="font-icon icon-map-pin"></i>Nanterre, FRA
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="E-mail">
                <a href="mailto:example@mail.com"><i class="font-icon icon-mail"></i>Karchoud.Riadh@gmail.com</a>
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Phone">
                <i class="font-icon icon-smartphone"></i>+33 (0)6 58 15 32 59
            </li>
            <li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Skype">
                <a href="skype:skype-example"><i class="font-icon icon-skype"></i>Karchoud.Riadh</a>
            </li>
        </ul>
     
        <a class="btn" href="#" onclick="window.open('assets/CV_RiadhKarchoud.pdf', '_blank', 'fullscreen=yes'); return false;"><i class="font-icon icon-download"></i> Download CV</a>
    </div>
